@import url("colors.css");

footer {
    background-color: var(--secondary);
    bottom: -20px;
    right: -20px;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    position: fixed;
    box-shadow: -4px -4px 4px var(--important);

    /* Removed */
    display: none;
}