@import url("colors.css");

.nav-bar-container {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 0;
    background-color: var(--lowlight);
    box-shadow: 0px 0px 2px black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Distribute items evenly */
}

.nav-bar-btn-container {
    display: flex;
    /* Use flexbox for buttons */
    gap: 20px;
    /* Adjust spacing between buttons */
    margin-right: 15px;
    z-index: 2;
}

.nav-bar-btn {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--lowlight);
    padding: 5px 16px;
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--secondary);
    cursor: pointer;
}

.nav-bar-btn:hover {
    background-color: var(--accent);
}

#main-title {
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary);
}

#logo-flag {
    position: absolute;
    top: 0;
    left: 290px;
    border: 0;
    width: 110px;
    z-index: 999;
}