@import url("colors.css");


p,
h1,
h2,
h3 {
    font-family: sans-serif;
    color: var(--accent);
}



button:hover {
    background-color: var(--accent)
}

@font-face {
    font-family: candy-season;
    src: url(/fonts/Candy\ Season.otf);
}

@font-face {
    font-family: notes;
    src: url(/fonts/Notevela.otf);
}

@font-face {
    font-family: ChineseFonts;
    src: url(/fonts/ChineseFonts.ttf);
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}



.title {
    font-family: sans-serif;
    color: var(--secondary);
    margin-top: 80px;
    /* Ensure content starts below the navbar */
    padding: 20px;
    font-size: x-large;

}

.entry-container {
    margin-top: 100px;
    gap: 5;
    padding-left: 20px;

    display: flex;
    flex-direction: column;

}


.entry-title {
    display: block;
}

.entry-btn {
    --width: 150px;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
    color: var(--primary);
    padding: 5px 20px;
    margin-left: calc(100vw - 2px - var(--width));
    width: 150px;
    margin-top: 15px;
    /* width: %; */
    float: right;
    margin-right: 25px;
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--secondary);
    cursor: pointer;
}

.entry-textarea {
    display: block;
    resize: none;
    width: calc(100vw - 50px);
    height: 100px;
    /* margin-bottom: 20px; */
    /* margin-right: 100vw; */
    border-color: var(--secondary);
    border-width: 5px;
    border-radius: 10px;
    color: var(--accent);
    background-color: var(--lowlight);
    font-size: 23px;
    font-family: notes, ChineseFonts;
    outline: none;
    border-style: solid;

}

.entry-textarea:focus {
    border-color: var(--important);
}



.entry-datetime {
    padding-top: -10px;
    background-color: var(--secondary);
    color: var(--lowlight);
    padding-left: 10px;
}

hr {

    height: 3px;
    border-width: 0;
    color: var(--secondary);
    background-color: var(--secondary);
    /* width: 61vw; */
    width: calc(100vw - 20px);
    float: left;
    /* margin-left: 20px; */
}


.stored-container {
    margin-top: 30px;
    gap: 5;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
}

.entry-display {
    font-family: notes, ChineseFonts;
    font-size: x-large;
}

#reminder-counter {
    margin: 15px;
}

#day-clear-prompt {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

#orp-happy {
    display: block;
    /* width: 100px;
    height: 100px; */
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

#day-clear-text {
    text-align: center;
    font-family: sans-serif;
    color: var(--secondary);
    font-size: x-large;

}

#reminder-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
}

.notes-container {
    display: flex;
    flex-direction: row;

    align-items: center;

}

.notes-display {
    font-family: notes, ChineseFonts;
    font-size: x-large;
    color: var(--accent);
    width: 60vw;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--lowlight);
    margin-right: 20px;
    text-wrap: wrap;
}


.delete-button {
    color: var(--secondary);
    transition: all 0.3s ease;
    float: left;
    scale: 1.5;
}

.delete-button:hover {
    color: var(--important);
    cursor: pointer;
}

.delete-button:hover .notes-display {
    text-decoration: line-through;
}

.star-button {
    margin-left: 20px;
    color: var(--secondary);
    transition: all 0.3s ease;
    scale: 1.6;
}

.star-button:hover {
    color: var(--important);
    cursor: pointer;
}

/* Prevents HackClub logo blocking settings button */
@media only screen and (max-width: 674px) {
    #logo-flag {
        display: none;
    }
}