@import url("colors.css");


p,
h1,
h2,
h3 {
    font-family: sans-serif;
    color: var(--accent);
}



button:hover {
    background-color: var(--accent)
}

@font-face {
    font-family: candy-season;
    src: url(/fonts/Candy\ Season.otf);
}

@font-face {
    font-family: notes;
    src: url(/fonts/Notevela.otf);
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}



.title {
    font-family: sans-serif;
    color: var(--secondary);
    margin-top: 80px;
    /* Ensure content starts below the navbar */
    padding: 20px;
    font-size: x-large;

}

.entry-container {
    margin-top: 100px;
    gap: 5;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
}


.entry-title {
    display: block;
}

.entry-btn {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    color: var(--primary);
    padding: 5px 20px;
    margin-left: 41vw;
    margin-top: 15px;
    width: 20vw;
    font-size: large;
    font-weight: bold;
    border: 2px solid var(--secondary);
    border-radius: 10px;
    background-color: var(--secondary);
    cursor: pointer;
}

.entry-textarea {
    display: block;
    resize: none;
    width: 60vw;
    height: 100px;
    /* margin-bottom: 20px; */
    /* margin-right: 100vw; */
    border-color: var(--secondary);
    border-width: 5px;
    border-radius: 10px;

    background-color: var(--lowlight);
    font-size: 23px;
    font-family: notes;
    outline: none;
    border-style: solid;

}

.entry-textarea:focus {
    border-color: var(--important);
}



.entry-datetime {
    padding-top: -10px;
    background-color: var(--secondary);
    color: var(--lowlight);
    padding-left: 10px;
}

hr {

    height: 3px;
    border-width: 0;
    color: var(--secondary);
    background-color: var(--secondary);
    /* width: 61vw; */
    width: 100vw;
    float: left;
    padding-left: 20px;
}


.stored-container {
    margin-top: 30px;
    gap: 5;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
}

.entry-display {
    font-family: notes;
    font-size: x-large;
}